<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
    <%- partial('_partial/navbar') %>
    <div id="top" class="row">
      <div class="sm-12 md-8 col">
        <div class="paper">
          <main class="container">
            <%- body %>

            <div class="to-top">
              <a href="#top" class="paper-btn margin">
                <i class='fa-solid fa-angle-up'></i>
              </a>
            </div>
          </main>
        </div>
      </div>

      <div class="sm-12 md-4 col">

        <div class="paper text-center">
          <% if (theme.gravatar) { %>
          <img src="<%- gravatar(theme.gravatar, 500) %>" alt="Gravatar" />
          <% } else { %>
          <img src="<%- theme.avatar %>" alt="Avatar" />
          <% } %>
          <h4><%- config.author %></h4>
          <% if (theme.location) { %>
          <h5>
            <i class="fa-solid fa-location-dot"></i>
            <% if (config.language == 'en' && theme.en_location) { %>
              <%- theme.en_location %>
            <% } else if (config.language == 'es' && theme.es_location) { %>
              <%- theme.es_location %>
            <% } else if (config.language == 'ja' && theme.ja_location) { %>
              <%- theme.ja_location %>
            <% } else if (config.language == 'ko' && theme.ko_location) { %>
              <%- theme.ko_location %>
            <% } else if (config.language == 'ru' && theme.ru_location) { %>
              <%- theme.ru_location %>
            <% } else if (config.language == 'zh-cn' && theme.zh-cn_location) { %>
              <%- theme.zh-cn_location %>
            <% } else if (config.language == 'zh-tw' && theme.zh-tw_location) { %>
              <%- theme.zh-tw_location %>
            <% } else { %>
              <%- config.location %>
            <% } %>
          </h5>
          <% } %> <% if (theme.bio) { %>
          <p>
            <% if (config.language == 'en' && theme.en_bio) { %>
              <%- theme.en_bio %>
            <% } else if (config.language == 'es' && theme.es_bio) { %>
              <%- theme.es_bio %>
            <% } else if (config.language == 'ja' && theme.ja_bio) { %>
              <%- theme.ja_bio %>
            <% } else if (config.language == 'ko' && theme.ko_bio) { %>
              <%- theme.ko_bio %>
            <% } else if (config.language == 'ru' && theme.ru_bio) { %>
              <%- theme.ru_bio %>
            <% } else if (config.language == 'zh-cn' && theme.zh-cn_bio) { %>
              <%- theme.zh-cn_bio %>
            <% } else if (config.language == 'zh-tw' && theme.zh-tw_bio) { %>
              <%- theme.zh-tw_bio %>
            <% } else { %>
              <%- config.bio %>
            <% } %>
          </p>
          <% } %>

          <div class="row flex-center">
            <div class="col-2 col">
              <i class="fa-solid fa-chart-line"></i>
              <%- symbolsCountTotal(site) %>
            </div>
            <div class="col-2 col">
              <i class="fa-solid fa-mug-saucer"></i>
              <%- symbolsTimeTotal(site) %>
            </div>
          </div>
          
        </div>

        <% if (site.categories.length){ %>
        <div class="paper">
          <h3 class="text-center"><%= __('index.categories') %></h3>
          <%- list_categories({
            transform(str) {
              return titlecase(str);
            }
          }) %>
        </div>
        <% } %>

        <% if (site.tags.length) { %>
        <div class="paper">
          <h3 class="text-center"><%= __('index.tags') %></h3>
          <p><%- tagcloud({min_font: 15, max_font: 30}) %></p>
        </div>
        <% } %>

        <div class="paper">
          <h3 class="text-center"><%= __('index.archive') %></h3>
          <% if (config.archive_generator.monthly != false) { %>
            <%- list_archives() %>
          <% } else { %>
            <%- list_archives({type: 'yearly'}) %>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
